<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Linkatory - <%= yield(:title) || "Deciding the fate of your links" %></title>

</head>

<body>
  <div id="wrapper">
    
    <%= link_to 'Add a link', new_link_path %>
    <hr />
    <h1>Linkatory</h1>
    <h2><%= yield :title %></h2>

    <% # Flash notice to show all notifications %>
    <% if flash[:notice] -%>
      <div id="flashNotice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <!-- Render page content -->
    <%= yield %>
    
    <% # Show back to links page if not index %>
    <% if not current_page?(:controller => "links", :action => "index") -%>
      <p><%= link_to "Back to links", links_path %></p>
    <% end -%>
    
    <% if ENV["RAILS_ENV"] == "development" %>
      <%= debug(params) %>
    <% end %>
  </div>
</body>
</html>
