<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Linkatory - <%= yield(:title) || "Deciding the fate of your links" %></title>
  <%= stylesheet_link_tag 'style' %>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <ul id="mainMenu">
        <li><%= link_to_unless_current 'My Linkatory', links_path %></li>
        <li><%= link_to_unless 'Add a link', new_link_path %></li>
      </ul>
      <h1><%= yield :title %></h1>
      
    </div>
    
    
    
    <h2></h2>

    <% # Flash notice to show all notifications %>
    <% if flash[:notice] -%>
      <div id="flashNotice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <!-- Render page content -->
    <%= yield %>
    
    
    <% if ENV["RAILS_ENV"] == "development" %>
      <%= debug(params) %>
    <% end %>
  </div>
</body>
</html>
